Header set Access-Control-Allow-Origin "http://msx.benzac.de"
Header set Access-Control-Allow-Headers "Origin, Content-Type, Accept"
Header set Access-Control-Allow-Methods "GET, OPTIONS"
Header set Access-Control-Allow-Credentials "true"